footer {
  padding: 37px 0 59px;
  position: relative;
  z-index: 1;
  margin: 40px 0 0;
}
footer::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 1px;
  max-width: 1800px;
  width: calc(100% - 120px);
  background: #FFF;
}
footer .container {
  max-width: 1920px;
  padding: 0 60px;
}
footer .phone {
  color: #fff;
}
footer .phone:hover {
  color: #E4370E;
}
footer .nav-menu {
  margin: 0 auto;
  font-weight: 400;
}
footer .nav-menu .nav-item {
  margin: 0 60px 0 0;
}
footer .nav-menu .nav-item:last-child {
  margin: 0;
}

.footer {
  margin: 75px 0 0;
}
.footer::before {
  background: #595959;
}
.footer .phone {
  color: #595959;
}
.footer .phone:hover {
  color: #fff;
}
.footer .nav-menu .nav-item .nav-link {
  color: #595959;
}